@charset "UTF-8";

@font-face {
  font-family: Iosevka;
  /* https://raw.githubusercontent.com/be5invis/Iosevka/master/LICENSE.md */
  src: url("iosevka-term-regular.woff") format("woff");
}

html, body {
  font-family: 'Gotham', 'Raleway', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.0rem;
  margin: 0;
}

.code {
  background: #333;
  color: #fff;
  display: block;
  font-family: Iosevka, monospace;
  height: 90%;
  overflow-y: scroll;
  padding: 10px;
  overflow-x: scroll;
  width: 95%;
}

.code pre {
  margin: 0;
}

.tree-key {
  border-bottom: 1px dotted #444;
  border-left: 1px dotted #333;
  color: #fff;
  font-family: sans-serif;
  padding: 3px;
  padding-left: 30px;
  cursor: pointer;
  clear:both;
}

.tk-active {
  border-bottom: 1px dotted #eee;
  border-left: 1px dotted #eee;
  color: #af0;
}

.small-input {
  display: inline-block;
  padding: 0;
}

.half {
  float: left;
  margin: 1%;
  width: 48%;
}

.tree-key input {
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: serif !important;
  padding: 1px !important;
  float:right;
}

input:hover {
  background-image: linear-gradient(to bottom, #af0, #fff );
  border-radius: 3px;
  padding: 1px !important;
}

.blurb {
  background-image: linear-gradient(to right, #eee, #fff );
  float: left;
  font-family: serif;
  line-height: 2.2rem;
  padding: 3rem;
  width: 50%;
}

.sample {
  color: #999;
  font-size: 1.0rem;
  float: left;
  overflow-x: scroll;
  max-width: 100%;
}

#menu {
  background: #333;
  color: #fa0;
  padding: 10px;
}

h1 {
  background: #333;
  color: #fa0;
  margin: 0;
}

#menu div {
  display: inline-block;
  width: 30%;
}

.margin {
  margin: 1rem;
}

/* If width is less than 600 do this stuff */
@media (max-width: 1024px)
{
  .half {
    position: relative;
    width: 96%;
  }

  #menu div {
    display: block !important;
    text-align: right;
    width: 90% !important;
  }

  .blurb { width: 80%; }
  .sample { font-size: 0.7rem; }
  h3 {
    padding: 6px;
  }
  code {
    max-width: 100%;
  }
}
