html, body {
  font-size: 1.0rem;
}

.code {
  background: #333;
  color: #fff;
  display: block;
  font-family: monospace;
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
}

.code pre {
  margin: 0;
}

.tree-key {
  color: #fff;
  display: block;
  padding-left: 30px;
  cursor: pointer;
}

.tk-active {
  background-image: linear-gradient(to right, rgba(0, 155, 0, 0.5), transparent );
  color: #af0;
}

.small-input {
  display: inline-block;
  padding: 0;
}
